<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
    <link rel="stylesheet" href="/makasapetitions/css/style.css" />
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
      <th:block th:each="result : ${results}">
        <li>
          <a
            th:href="@{/petition/{id}(id=${result.id})}"
            th:text="${result.title}"
          ></a>
        </li>
      </th:block>
    </ul>
    <a href="/makasapetitions/petition/search">Back to Search</a><br />
    <a href="/makasapetitions/petitions">Back to Petitions</a>
  </body>
</html>
