<!DOCTYPE html>
<html>
  <head>
    <title>Petitions</title>
    <link rel="stylesheet" href="/makasapetitions/css/style.css" />
  </head>
  <body>
    <h1>All Petitions</h1>
    <ul>
      <th:block th:each="petition : ${petitions}">
        <li>
          <a
            th:href="@{/petition/{id}(id=${petition.id})}"
            th:text="${petition.title}"
          ></a>
        </li>
      </th:block>
    </ul>
    <a href="/makasapetitions/petition/new">Create a New Petitionaa</a><br />
    <a href="/makasapetitions/petition/search">Search Petitions</a>
  </body>
</html>
